.template-list {
  list-style: none;
  padding: 0;
}
.template-item {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-button-border);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px
}

#root {
  width: 100%;
}

.form-mode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
}
#template-name {
  width: 100%;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border: 1px solid var(--vscode-button-border);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

#template-text {
  width: 100%;
  height: 200px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border: 1px solid var(--vscode-button-border);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}
